<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin"><i class="bi bi-bag-check-fill"></i> {{.configs.NomeLoja}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/admin/produtos">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Clientes</a>
        </li>
      </ul>
      <div class="form-check form-switch me-3">
        <input class="form-check-input" type="checkbox" role="switch" id="chk-modo-noturno">
        <label class="form-check-label" for="chk-modo-noturno">Modo Noturno <i class="bi bi-moon-fill"></i></label>
      </div>
      <form action="/admin/logout" method="POST">
        <button class="btn btn-outline-danger" type="submit">Logout</button>
      </form>
    </div>
  </div>
</nav>
