<!DOCTYPE html>
<html lang="pt-br">
  {{template "_head.html" .}}
  <body>
    {{template "_navbarAdmin.html" .}}
    <main>
      <section class="container mt-5">
        <div class="card">
          <div>
            <table class="table table-striped table-hover mx-0 my-0">
              <thead>
                <tr class="text-center fw-bold">
                  <th>Produto</th>
                  <th>Preço</th>
                  <th>Quantidade</th>
                  <th class="d-none d-md-table-cell">Ativo</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                {{range .produtos}}
                <tr class="text-center align-middle">
                  <td>{{.Descricao}}</td>
                  <td>R$ {{.Preco}}</td>
                  <td>{{.Quantidade}}</td>
                  {{if .Ativo}}
                  <td class="d-none d-md-table-cell">Ativo</td>
                  {{else}}
                  <td class="d-none d-md-table-cell">Inativo</td>
                  {{end}}
                  <td>
                    <div class="row g-2">
                      <div class="col-12 col-lg-4 mx-auto">
                        <a href="/admin/produtos/editar?id={{.ID}}" class="btn btn-info">Editar</a>
                      </div>
                      <div class="col-12 col-lg-4 mx-auto">
                        <button type="button" onclick="onDelete('{{.ID}}')" class="btn btn-danger">Deletar</button>
                      </div>
                    </div>
                  </td>
                </tr>
                {{end}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="mt-4">
          <a href="/admin/produtos/criar" class="btn btn-primary">Criar novo produto</a>
        </div>

        {{template "_standardFlashes.html" .}}
      
      </section>
    </main>
    {{template "_bsScript.html" .}} {{template "_darkModeScript.html" .}} {{template "_axiosScript.html"}}
    <script>
      function onDelete(id) {
        if (confirm('Deseja realmente deletar esse produto?')) {
          axios.delete(`${window.location.origin}/admin/produtos/delete?id=${id}`).then(
            (response) => {
              window.location.reload()
            },
            (error) => {
              alert(error.message)
              window.location.reload()
            }
          )
        }
      }
    </script>
  </body>
</html>
