<!doctype html>
<html lang="pt-br">
  {{template "_head.html" .}}
  <body>
    {{template "_navbarAdmin.html" .}}
    <main>
      <section class="container mt-5">
        <div class="card">
          <div>
            <table class="table table-striped table-hover mx-0 my-0">
              <thead>
                <tr class="text-center fw-bold">
                  <th>Produto</th>
                  <th>Preço</th>
                  <th>Quantidade</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                {{range .produtos}}
                <tr class="text-center align-middle">
                  <td>{{.Descricao}}</td>
                  <td>R$ {{.Preco}}</td>
                  <td>{{.Quantidade}}</td>
                  <td>
                    <div class="row g-2">
                      <div class="col-12 col-lg-4 mx-auto">
                        <a href="/admin/produtos/edit?id={{.ID}}" class="btn btn-info">Editar</a>
                      </div>
                      <div class="col-12 col-lg-4 mx-auto">
                        <button type="button" onclick="onDelete('{{.ID}}')" class="btn btn-danger">Deletar</button>
                      </div>
                    </div>
                  </td>
                </tr>
                {{end}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="mt-4">
          <a href="/admin/produtos/new" class="btn btn-primary">Criar novo produto</a>
        </div>
        {{ if .erro }}
        <div class="alert alert-danger my-3" role="alert">{{.erro}}</div>
        {{ end }}
      </section>
    </main>
    {{template "_bsScript.html" .}} {{template "_darkModeScript.html" .}}
    <script>
      function onDelete(id) {
        if (confirm('Deseja realmente deletar esse produto?')) {
          window.location.href = "/admin/produtos/delete?id="+id
        }
      }
    </script>
  </body>
</html>
