<!doctype html>
<html lang="pt-br">
  {{template "_head.html" .}}
  <body>
    {{template "_navbarAdmin.html" .}}

    <main>
      <section class="container align-items-center" style="margin-top: 10vh">
        <div class="row">
          <div class="col-12">
            <h3 class="text-center">Configurações</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-10 col-lg-4 mx-auto">
            <form action="/admin/configuracoes" method="post" enctype="multipart/form-data">
              <div class="row mb-3">
                <div class="col-12">
                  <label for="nomeLoja" class="form-label">Nome da loja</label>
                  <input type="text" class="form-control" id="nomeLoja" name="nomeLoja" value="{{.configs.NomeLoja}}"/>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-12 d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary">Alterar configurações</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>

    {{template "_bsScript.html" .}} {{template "_darkModeScript.html" .}}
  </body>
</html>
