<!doctype html>
<html lang="pt-br">
  {{template "_head.html" .}}
  <body>
    {{template "_navbarAdmin.html" .}}
    <main>
      <section class="container d-flex align-items-center" style="margin-top: 10vh">
        <div class="col-12 col-lg-10 mx-auto">
          <div class="rounded p-3">
            <h3 class="text-center fw-bold mb-3">Editar produto</h3>
            <div class="row g-2">
              <div class="col-12 col-lg-4 my-auto mx-auto">
                <img src="{{.produto.Imagem}}" class="w-100 object-fit-fill border rounded" alt="" />
              </div>
              <div class="col-12 col-lg-8">
                <form action="/admin/produtos/edit?id={{.produto.ID}}" method="post" enctype="multipart/form-data">
                  <div class="row text-center mb-3"></div>
                  <div class="row mb-3">
                    <div class="col-12">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Descrição" required value="{{.produto.Descricao}}" />
                        <label for="descricao">Descrição</label>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6">
                      <div class="form-floating">
                        <input type="number" class="form-control" id="preco" name="preco" placeholder="Preço" min="0" step="0.01" required value="{{.produto.Preco}}" />
                        <label for="preco">Preço</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-floating">
                        <input type="number" class="form-control" id="quantidade" name="quantidade" placeholder="Quantidade" min="0.0" required value="{{.produto.Quantidade}}" />
                        <label for="quantidade">Quantidade</label>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-12">
                      <div class="f mb-3">
                        <label for="imagem" class="form-label">Imagem do produto (opcional)</label>
                        <input class="form-control" type="file" id="imagem" name="imagem" accept="image/*" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <button type="submit" class="btn btn-success">Editar</button>
                      <a href="/admin/produtos/removeImagem?id={{.produto.ID}}" class="btn btn-danger">Remover Imagem</a>
                      <a href="/admin/produtos" class="btn btn-primary">Voltar</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            {{ if .erro }}
            <div class="alert alert-danger my-3" role="alert">{{.erro}}</div>
            {{ end }} {{ if .message }}
            <div class="alert alert-success my-3" role="alert">{{.message}}</div>
            {{ end }}
          </div>
        </div>
      </section>
    </main>

    {{template "_bsScript.html" .}} {{template "_darkModeScript.html" .}}

  </body>
</html>
