<script>
    const botaoModoNoturno = document.querySelector("#chk-modo-noturno")
    const body = document.body

    switch (sessionStorage.getItem("modo")){
        case "dark":
            botaoModoNoturno.checked = true
            body.setAttribute("data-bs-theme", sessionStorage.getItem("modo"))
            break
        case "light":
            botaoModoNoturno.checked = false
            body.setAttribute("data-bs-theme", sessionStorage.getItem("modo"))
            break
        default:
            break
    }

    botaoModoNoturno.addEventListener("click", () => {
        const modo = botaoModoNoturno.checked ? sessionStorage.setItem("modo", 'dark') : sessionStorage.setItem("modo", 'light')
        body.setAttribute("data-bs-theme", sessionStorage.getItem("modo"))
    })
</script>