definitions:
  responses.Error:
    properties:
      message:
        type: string
    type: object
info:
  contact: {}
paths:
  /admin/autenticar:
    post:
      description: |-
        Através dos dados fornecidos via formulário HTML,
        compara com o banco de dados para autenticar ou rejeitar
      responses:
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/responses.Error'
      summary: Faz a autenticação do usuário
      tags:
      - auth
      - user
swagger: "2.0"
