definitions:
  gorm.DeletedAt:
    properties:
      time:
        type: string
      valid:
        description: Valid is true if Time is not NULL
        type: boolean
    type: object
  models.Cliente:
    properties:
      cpf_cnpj:
        type: string
      createdAt:
        type: string
      deletedAt:
        $ref: '#/definitions/gorm.DeletedAt'
      email:
        type: string
      empresa:
        type: string
      endereco:
        items:
          $ref: '#/definitions/models.Endereco'
        type: array
      id:
        type: integer
      nome:
        type: string
      telefone:
        type: string
      updatedAt:
        type: string
    type: object
  models.Config:
    properties:
      bairro:
        type: string
      cep:
        type: integer
      cidade:
        type: string
      createdAt:
        type: string
      endereco:
        type: string
      id:
        type: integer
      nomeLoja:
        type: string
      numero:
        type: integer
      uf:
        type: string
      updatedAt:
        type: string
    type: object
  models.Endereco:
    properties:
      bairro:
        type: string
      cep:
        type: integer
      cidade:
        type: string
      clienteID:
        type: integer
      createdAt:
        type: string
      deletedAt:
        $ref: '#/definitions/gorm.DeletedAt'
      endereco:
        type: string
      id:
        type: integer
      numero:
        type: integer
      uf:
        type: string
      updatedAt:
        type: string
    type: object
  models.Produto:
    properties:
      ativo:
        type: boolean
      createdAt:
        type: string
      deletedAt:
        $ref: '#/definitions/gorm.DeletedAt'
      descricao:
        type: string
      id:
        type: integer
      imagem:
        type: string
      preco:
        type: number
      quantidade:
        type: integer
      updatedAt:
        type: string
    type: object
  responses.Error:
    properties:
      erro:
        type: string
    type: object
  responses.Message:
    properties:
      data: {}
      message:
        type: string
    type: object
info:
  contact: {}
paths:
  /admin/autenticar:
    post:
      consumes:
      - multipart/form-data
      description: Através dos dados fornecidos via formulário HTML, compara com o
        banco de dados para autenticar ou rejeitar
      parameters:
      - in: formData
        name: nome
        type: string
      - in: formData
        name: senha
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responses.Message'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/responses.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/responses.Error'
      summary: Faz a autenticação do usuário
      tags:
      - auth
      - admin
  /admin/clientes/{cpf_cnpj}:
    get:
      description: Busca o cliente da loja virtual pelo seu CPF ou CNPJ e retorna
        no JSON
      parameters:
      - description: CPF_CNPJ
        in: path
        name: cpf_cnpj
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/responses.Message'
            - properties:
                data:
                  $ref: '#/definitions/models.Cliente'
              type: object
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/responses.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/responses.Error'
      summary: Busca o cliente da loja virtual pelo seu CPF ou CNPJ
      tags:
      - admin
      - clientes
  /admin/clientes/criar:
    post:
      description: Cria um cliente da loja virtual conforme informações enviadas pelo
        formulário
      parameters:
      - in: formData
        name: cpf_cnpj
        type: string
      - in: formData
        name: email
        type: string
      - in: formData
        name: empresa
        type: string
      - in: formData
        name: nome
        type: string
      - in: formData
        name: telefone
        type: string
      - in: formData
        name: bairro
        type: string
      - in: formData
        name: cep
        type: integer
      - in: formData
        name: cidade
        type: string
      - in: formData
        name: endereco
        type: string
      - in: formData
        name: numero
        type: integer
      - in: formData
        name: uf
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/responses.Message'
            - properties:
                data:
                  $ref: '#/definitions/models.Cliente'
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.Error'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/responses.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/responses.Error'
      summary: Cria um cliente da loja virtual
      tags:
      - admin
      - clientes
  /admin/clientes/todos:
    get:
      description: Busca todos os clientes da loja virtual e retorna no JSON
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/responses.Message'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/models.Cliente'
                  type: array
              type: object
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/responses.Error'
      summary: Busca todos os clientes da loja virtual
      tags:
      - admin
      - clientes
  /admin/configuracoes:
    get:
      description: Busca as configurações da loja virtual e retorna no JSON
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/responses.Message'
            - properties:
                data:
                  $ref: '#/definitions/models.Config'
              type: object
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/responses.Error'
      summary: Busca as configurações da loja virtual
      tags:
      - admin
    post:
      description: Altera as configurações da loja virtual conforme informações enviadas
        pelo formulário
      parameters:
      - in: formData
        name: bairro
        type: string
      - in: formData
        name: cep
        type: integer
      - in: formData
        name: cidade
        type: string
      - in: formData
        name: endereco
        type: string
      - in: formData
        name: nomeLoja
        type: string
      - in: formData
        name: numero
        type: integer
      - in: formData
        name: uf
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/responses.Message'
            - properties:
                data:
                  $ref: '#/definitions/models.Config'
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.Error'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/responses.Error'
      summary: Altera as configurações da loja virtual
      tags:
      - admin
  /admin/logout:
    post:
      description: Remove a autenticação da sessão do usuário atual
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responses.Message'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/responses.Error'
      summary: Faz o logout do usuário
      tags:
      - auth
      - admin
  /admin/produtos:
    get:
      description: Busca e retorna um JSON no modelo de produtos com todos os produtos
        não deletados
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/responses.Message'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/models.Produto'
                  type: array
              type: object
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/responses.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/responses.Error'
      summary: Busca todos os produtos
      tags:
      - produtos
      - admin
  /admin/produtos/criar:
    post:
      consumes:
      - multipart/form-data
      description: Cria um produto através dos dados recebidos via formulário do cliente
      parameters:
      - in: formData
        name: ativo
        type: boolean
      - in: formData
        name: descricao
        type: string
      - in: formData
        name: preco
        type: number
      - in: formData
        name: quantidade
        type: integer
      - description: Imagem do Produto
        in: formData
        name: imagem
        type: file
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            allOf:
            - $ref: '#/definitions/responses.Message'
            - properties:
                data:
                  $ref: '#/definitions/models.Produto'
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.Error'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/responses.Error'
        "409":
          description: Conflict
          schema:
            $ref: '#/definitions/responses.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/responses.Error'
      summary: Cria um produto
      tags:
      - produtos
      - admin
  /admin/produtos/deletar:
    delete:
      description: Deleta um produto específico através do Id fornecido via URL
      parameters:
      - description: Id do produto
        in: query
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "202":
          description: Accepted
          schema:
            allOf:
            - $ref: '#/definitions/responses.Message'
            - properties:
                data:
                  $ref: '#/definitions/models.Produto'
              type: object
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/responses.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/responses.Error'
      summary: Deleta um produto
      tags:
      - produtos
      - admin
  /admin/produtos/editar:
    post:
      consumes:
      - multipart/form-data
      description: Editar um produto através do id informado na url e dos dados recebidos
        via formulário do cliente
      parameters:
      - description: Id do produto
        in: query
        name: id
        required: true
        type: integer
      - in: formData
        name: ativo
        type: boolean
      - in: formData
        name: descricao
        type: string
      - in: formData
        name: preco
        type: number
      - in: formData
        name: quantidade
        type: integer
      - description: Imagem do Produto
        in: formData
        name: imagem
        type: file
      produces:
      - application/json
      responses:
        "202":
          description: Accepted
          schema:
            allOf:
            - $ref: '#/definitions/responses.Message'
            - properties:
                data:
                  $ref: '#/definitions/models.Produto'
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.Error'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/responses.Error'
        "409":
          description: Conflict
          schema:
            $ref: '#/definitions/responses.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/responses.Error'
      summary: Editar um produto
      tags:
      - produtos
      - admin
  /admin/produtos/removeImagem:
    delete:
      description: Remove a imagem de um produto específico através do Id fornecido
        via URL
      parameters:
      - description: Id do produto
        in: query
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "202":
          description: Accepted
          schema:
            allOf:
            - $ref: '#/definitions/responses.Message'
            - properties:
                data:
                  $ref: '#/definitions/models.Produto'
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.Error'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/responses.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/responses.Error'
      summary: Remove a imagem de um produto
      tags:
      - produtos
      - admin
swagger: "2.0"
